<%- include('partials/header', {pageTitle: "Pokemon Game"}) %>

<p class="text-center">Welcome to the Pokemon Game!</p>
<div class="container container-grid" id="pokemonList"></div>
<div class="container" id="pokemonGrid"></div>
<template id="pokemonTemplate">
    <button class="card flip">
        <div class="card-body">
            <img class="card-img-top" src="" alt="Pokemon Image">
        </div>
    </button>
</template>
<%- include('partials/footer', {scripts: ["index.js"]}) %>