body {
    margin: 0px;
    padding: 1%;
}

#pokemonList {
    width: 80%;
    height: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}


.card {
    width: 33.3%;
    height: auto;
    position: relative;
    transition: transform 1s;
    perspective: 1000px;
    transform-style: preserve-3d;
}


img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.front_face,
.back_face {
    position: relative;
    backface-visibility: hidden;
}


.flip {
    transform: rotateY(180deg);
}


.front_face {
    transform: rotateY(180deg);
    position: absolute;
}

.dark, .dark * {
    background-color: #202020;
    color: #eeeeee !important;
}